* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989d9c;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    color: #FFFFFF;
}

.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section { 
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main {
    background: #adff00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;

}

@media screen and (max-width: 800px) {
    header {
        margin: 10% 0 10% 10%;
        display: block;
    }

    .link-header{
        display: none;
    }

    .logo-image {
        width: 450px;
        height: 400px;
        margin-left: 100px;
        display: inline-block;
    }

    section {
        display: inline-block;
        margin-left: 80px;
    }

    h1 {
        font-size: 80px;
        line-height: 122px;
    }

    h2 {
        font-size: 50px;
        line-height: 71px;
    }

    p {
        font-size: 20px;
        line-height: 29px;
        width: 450px;
        margin-top: 32px;
        margin-bottom: 50px;
    }

    .button-main {
        width: 200px;
        height: 60px;
    }    
    
}

@media screen and (max-width: 570px) {
    .logo-image {
        width: 300px;
        height: 300px;
        margin-left: 60px;
        display: inline-block
    }

    h1 {
        font-size: 50px;
        line-height: 115px;
    }

    h2 {
        font-size: 35px;
        line-height: 60px;
    }

    p {
        font-size: 20px;
        line-height: 29px;
        width: 300px;
        margin-top: 32px;
        margin-bottom: 50px;
    }
}