*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}



.caixa_form {

    width: 340px;
    border:1px solid #e9e4e4;
    padding: 50px 40px 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    right: 290px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
}

.Logo_Instagram {
    width: 200px;
    margin-bottom: 20px;

}

input{

    height: 35px;
    margin-top: 5px;
    border: 1px solid #dbdbdb;
    outline: none;
    padding-left: 8px;
    border-radius: 5px;
    color: #262626;

}
button{

    height: 30px;
    margin-top: 20px;
    border: none;
    background-color: #0095f6;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;

}
.login_facebook{
    color: #385185;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
    cursor: pointer;
}
.esqueceu_senha{
    color: #385185;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.caixa_imagem {
    position: relative;

}
.imagem_celular {
    width : 320px;
    transform: translate(-100%, -50%);
    position: absolute;
    justify-content: center;
    align-items: center;

}

.imagem_insta { 
    height: 380px;
    position: absolute;
    left: -83px;
    top: -13.8px;
    justify-content: center;
    align-items: center;
    transform: translate(-74.8%, -50%);

}